@import "tailwindcss";
@import "../../styles/tailwind.css";

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror {
  @apply space-y-2;

  &:focus-visible {
    @apply border-none shadow-none outline-none;
  }

  blockquote {
    @apply my-2.5 border-muted-foreground border-l-4 px-5 py-2.5;
  }

  h1 {
    @apply text-6xl font-bold;
  }

  h2 {
    @apply text-4xl font-semibold;
  }

  h3 {
    @apply text-3xl font-semibold;
  }

  h4 {
    @apply text-2xl font-semibold;
  }

  h5 {
    @apply text-xl font-semibold;
  }

  h6 {
    @apply text-lg font-semibold;
  }

  strong {
    @apply font-bold;
  }

  em {
    @apply italic;
  }

  u {
    @apply underline;
  }

  s {
    @apply line-through;
  }

  code {
    @apply font-mono px-1 bg-muted rounded-[2px];
  }

  hr {
    @apply border-muted-foreground;
  }

  ol,
  ul {
    @apply pl-5 list-inside;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  li > p {
    @apply inline-block;
  }
}
